.app {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  gap: 32px;
  line-height: 20px;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .app {
    flex-direction: row;
    gap: 16px;
    padding: 32px;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .controls {
    width: min(30vw, 30vh);
  }
}

.button {
  background-color: #fff;
  border-radius: 5px;
  padding: 4px 0;
  width: 50%;
}
.button-primary {
  background-color: #0e90d2;
  border: none;
  color: #fff;
}

.radio-button-label {
  display: flex;
  gap: 8px;
}

.board {
  --square-size: calc(min(100vw, 100vh) - 32px);

  display: grid;
  height: var(--square-size);
  width: var(--square-size);
}
@media screen and (min-width: 768px) {
  .board {
    --square-size: calc(min(70vw, 70vh) - 64px);
  }
}

.board-3 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.board-5 {
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.cell {
  align-items: center;
  border: 2px solid #ccc;
  display: grid;
  grid-template-rows: 1fr 1rem;
  justify-items: center;
  padding: 4px;
  text-align: center;
}
.cell.is-marked {
  background: rgb(110, 158, 226);
}

.cell p {
  font-size: 10px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cell p {
    font-size: 12px;
    line-height: inherit;
  }
}

@media print {
  .app {
    justify-content: center;
    padding: 0;
  }

  .controls {
    display: none;
  }

  .board {
    height: min(95vw, 95vh);
    width: min(95vw, 95vh);
  }
}
