.ui-grid-a,
.ui-grid-b,
.ui-grid-c,
.ui-block-a {
	clear: left;
}
.ui-block-a,
.ui-block-b,
.ui-block-c,
.ui-block-d,
.ui-block-e,
.ui-block-f,
.ui-block-g {
	position: relative;
	display: block;
	color: black;
	float: left;
	/*padding: 0 1% 5px 1%;*/
	overflow: hidden;
	padding-bottom: 5px;
}
.ui-grid-a .ui-block-a,
.ui-grid-a .ui-block-b,
.ui-grid-a .ui-block-c {
	max-width: 30%;
}
.ui-grid-b .ui-block-a,
.ui-grid-b .ui-block-b,
.ui-grid-b .ui-block-c,
.ui-grid-b .ui-block-d,
.ui-grid-b .ui-block-e {
	max-width: 17%;
}
.ui-grid-c .ui-block-a,
.ui-grid-c .ui-block-b,
.ui-grid-c .ui-block-c,
.ui-grid-c .ui-block-d,
.ui-grid-c .ui-block-e,
.ui-grid-c .ui-block-f,
.ui-grid-c .ui-block-g {
	width: 30%;
}

.bingo-board {
	margin: 15px auto;
}
.bingo-board.ui-grid-a {
	max-width: 400px;
}
.bingo-board.ui-grid-b {
	max-width: 700px;
}
.bingo-board .ui-block-a,
.bingo-board .ui-block-b,
.bingo-board .ui-block-c,
.bingo-board .ui-block-d,
.bingo-board .ui-block-e,
.bingo-board .ui-block-f,
.bingo-board .ui-block-g {
	text-align: center;
	border: 2px solid #ccc;
}
.bingo-board img {
	display: block;
	width: 100%;
	max-width: 124px;
}
.bingo-board .card-text {
	position: absolute;
	font-size: .75em;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	bottom: 2px;
	left: 0;
	right: 0;
}
@media all and (max-width: 800px) {
	.bingo-board .card-text {
		font-size: .6em;
	}
}

/* Selected cells */
.bingo-board .block-selected {
	color: white;
	background: rgb(110, 158, 226);
}



/*** Sprites ***/
.apostle, .atonement, .baptism, .bible, .book_of_mormon, .church, .commandments, .conference, .covenants, .disciple, .family_home_evening, .family, .fasting, .father, .forgive, .gospel, .happiness, .heaven, .holy_ghost, .hymn, .jesus_christ, .joseph_smith, .love, .missionary, .mother, .peace, .pioneers, .prayer, .president_monson, .priesthood, .prophet, .repentance, .restoration, .sacrament, .sacrifice, .salt_lake_city, .savior, .scriptures, .second_coming, .service, .stake, .tabernacle_choir, .temple, .testimony, .ward, .bishop, .faith, .marriage, .charity{
	/*background: url(sprites.png) no-repeat;*/
	position: absolute;
}

.apostle{
	top: 0;
	left: 0:
}

.atonement{
	top: -124px;
	left: 0:
}

.baptism{
	top: -248px;
	left: -1px;
}

.bible{
	top: -372px;
	left: 0:
}

.book_of_mormon{
	top: -496px;
	left: 0:
}

.church{
	top: -620px;
	left: 0:
}

.commandments{
	top: -744px;
	left: 0:
}

.conference{
	top: 0;
	left: -124px;
}

.covenants{
	top: -124px;
	left: -124px;
}

.disciple{
	top: -248px;
	left: -124px;
}

.family_home_evening{
	top: -372px;
	left: -124px;
}

.family{
	top: -496px;
	left: -124px;
}

.fasting{
	top: -620px;
	left: -124px;
}

.father{
	top: -744px;
	left: -124px;
}

.forgive{
	top: 0;
	left: -248px;
}

.gospel{
	top: -124px;
	left: -248px;
}

.happiness{
	top: -248px;
	left: -248px;
}

.heaven{
	top: -372px;
	left: -248px;
}

.holy_ghost{
	top: -496px;
	left: -248px;
}

.hymn{
	top: -620px;
	left: -248px;
}

.jesus_christ{
	top: -744px;
	left: -248px;
}

.joseph_smith{
	top: 0;
	left: -370px;
}

.love{
	top: -124px;
	left: -372px;
}

.missionary{
	top: -248px;
	left: -372px;
}

.mother{
	top: -372px;
	left: -372px;
}

.peace{
	top: -496px;
	left: -372px;
}

.pioneers{
	top: -620px;
	left: -372px;
}

.prayer{
	top: -744px;
	left: -372px;
}

.president_monson{
	top: 0;
	left: -496px;
}

.priesthood{
	top: -124px;
	left: -496px;
}

.prophet{
	top: -248px;
	left: -496px;
}

.repentance{
	top: -372px;
	left: -496px;
}

.restoration{
	top: -496px;
	left: -496px;
}

.sacrament{
	top: -620px;
	left: -496px;
}

.sacrifice{
	top: -744px;
	left: -496px;
}

.salt_lake_city{
	top: 0;
	left: -620px;
}

.savior{
	top: -124px;
	left: -620px;
}

.scriptures{
	top: -248px;
	left: -620px;
}

.second_coming{
	top: -372px;
	left: -612px;
}

.service{
	top: -496px;
	left: -620px;
}

.stake{
	top: -620px;
	left: -620px;
}

.tabernacle_choir{
	top: -744px;
	left: -620px;
}

.temple{
	top: 0;
	left: -744px;
}

.testimony{
	top: -124px;
	left: -744px;
}

.ward{
	top: -248px;
	left: -744px;
}

.bishop{
	top: -372px;
	left: -744px;
}

.faith{
	top: -496px;
	left: -744px;
}

.marriage{
	top: -620px;
	left: -744px;
}

.charity{
	top: -744px;
	left: -744px;
}