.ui-grid-a,
.ui-grid-b,
.ui-grid-c,
.ui-block-a {
	clear: left;
}
.ui-block-a,
.ui-block-b,
.ui-block-c,
.ui-block-d,
.ui-block-e,
.ui-block-f,
.ui-block-g {
	display: block;
	color: black;
	float: left;
	padding: 0 1% 5px 1%;
}
.ui-grid-a .ui-block-a,
.ui-grid-a .ui-block-b,
.ui-grid-a .ui-block-c {
	max-width: 30%;
}
.ui-grid-b .ui-block-a,
.ui-grid-b .ui-block-b,
.ui-grid-b .ui-block-c,
.ui-grid-b .ui-block-d,
.ui-grid-b .ui-block-e {
	max-width: 17%;
}
.ui-grid-c .ui-block-a,
.ui-grid-c .ui-block-b,
.ui-grid-c .ui-block-c,
.ui-grid-c .ui-block-d,
.ui-grid-c .ui-block-e,
.ui-grid-c .ui-block-f,
.ui-grid-c .ui-block-g {
	width: 30%;
}

.bingo-board {
	margin: 15px auto;
}
.bingo-board.ui-grid-a {
	max-width: 400px;
}
.bingo-board.ui-grid-b {
	max-width: 700px;
}
.bingo-board .ui-block-a,
.bingo-board .ui-block-b,
.bingo-board .ui-block-c,
.bingo-board .ui-block-d,
.bingo-board .ui-block-e,
.bingo-board .ui-block-f,
.bingo-board .ui-block-g {
	text-align: center;
	border: 2px solid #ccc;
}
.bingo-board img {
	display: block;
	width: 100%;
	max-width: 124px;
}
.bingo-board .card-text {
	font-size: .75em;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
@media all and (max-width: 800px) {
	.bingo-board .card-text {
		font-size: .6em;
	}
}

/* Selected cells */
.bingo-board .block-selected {
	color: white;
	background: rgb(110, 158, 226);
}