.ui-grid-a,
.ui-grid-b,
.ui-grid-c,
.ui-block-a {
	clear: left;
}
.ui-block-a,
.ui-block-b,
.ui-block-c,
.ui-block-d,
.ui-block-e,
.ui-block-f,
.ui-block-g {
	display: block;
	color: black;
	float: left;
	padding: 0 1% 5px 1%;
}
.ui-grid-a .ui-block-a,
.ui-grid-a .ui-block-b,
.ui-grid-a .ui-block-c {
	max-width: 30%;
}
.ui-grid-b .ui-block-a,
.ui-grid-b .ui-block-b,
.ui-grid-b .ui-block-c,
.ui-grid-b .ui-block-d,
.ui-grid-b .ui-block-e {
	max-width: 17%;
}
.ui-grid-c .ui-block-a,
.ui-grid-c .ui-block-b,
.ui-grid-c .ui-block-c,
.ui-grid-c .ui-block-d,
.ui-grid-c .ui-block-e,
.ui-grid-c .ui-block-f,
.ui-grid-c .ui-block-g {
	width: 30%;
}

.bingo-board {
	margin: 15px auto;
}
.bingo-board.ui-grid-a {
	max-width: 400px;
}
.bingo-board.ui-grid-b {
	max-width: 700px;
}
.bingo-board .ui-block-a,
.bingo-board .ui-block-b,
.bingo-board .ui-block-c,
.bingo-board .ui-block-d,
.bingo-board .ui-block-e,
.bingo-board .ui-block-f,
.bingo-board .ui-block-g {
	text-align: center;
	border: 2px solid #ccc;
}
.bingo-board img {
	display: block;
	width: 100%;
	max-width: 124px;
}
.bingo-board .card-text {
	font-size: .75em;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
@media all and (max-width: 800px) {
	.bingo-board .card-text {
		font-size: .6em;
	}
}

/* Selected cells */
.bingo-board .block-selected {
	color: white;
	background: rgb(110, 158, 226);
}

/* Sprites */
.apostle, .atonement, .baptism, .bible, .book_of_mormon, .church, .commandments, .conference, .covenants, .disciple, .family_home_evening, .family, .fasting, .father, .forgive, .gospel, .happiness, .heaven, .holy_ghost, .hymn, .jesus_christ, .joseph_smith, .love, .missionary, .mother, .peace, .pioneers, .prayer, .president_monson, .priesthood, .prophet, .repentance, .restoration, .sacrament, .sacrifice, .salt_lake_city, .savior, .scriptures, .second_coming, .service, .stake, .tabernacle_choir, .temple, .testimony, .ward, .bishop, .faith, .marriage, .charity{
	background: url(sprites.png) no-repeat;
}

.apostle{
	background-position: 0 0;
	width: 124px;
	height: 124px;
}

.atonement{
	background-position: -124px 0;
	width: 124px;
	height: 124px;
}

.baptism{
	background-position: -248px -1px ;
	width: 124px;
	height: 124px;
}

.bible{
	background-position: -372px 0;
	width: 124px;
	height: 124px;
}

.book_of_mormon{
	background-position: -496px 0;
	width: 124px;
	height: 124px;
}

.church{
	background-position: -620px 0;
	width: 124px;
	height: 124px;
}

.commandments{
	background-position: -744px 0;
	width: 124px;
	height: 124px;
}

.conference{
	background-position: 0 -124px ;
	width: 124px;
	height: 124px;
}

.covenants{
	background-position: -124px -124px ;
	width: 124px;
	height: 124px;
}

.disciple{
	background-position: -248px -124px ;
	width: 124px;
	height: 124px;
}

.family_home_evening{
	background-position: -372px -124px ;
	width: 124px;
	height: 124px;
}

.family{
	background-position: -496px -124px ;
	width: 124px;
	height: 124px;
}

.fasting{
	background-position: -620px -124px ;
	width: 124px;
	height: 124px;
}

.father{
	background-position: -744px -124px ;
	width: 124px;
	height: 124px;
}

.forgive{
	background-position: 0 -248px ;
	width: 124px;
	height: 124px;
}

.gospel{
	background-position: -124px -248px ;
	width: 124px;
	height: 124px;
}

.happiness{
	background-position: -248px -248px ;
	width: 124px;
	height: 124px;
}

.heaven{
	background-position: -372px -248px ;
	width: 124px;
	height: 124px;
}

.holy_ghost{
	background-position: -496px -248px ;
	width: 124px;
	height: 124px;
}

.hymn{
	background-position: -620px -248px ;
	width: 124px;
	height: 124px;
}

.jesus_christ{
	background-position: -744px -248px ;
	width: 124px;
	height: 124px;
}

.joseph_smith{
	background-position: 0 -370px ;
	width: 124px;
	height: 124px;
}

.love{
	background-position: -124px -372px ;
	width: 124px;
	height: 124px;
}

.missionary{
	background-position: -248px -372px ;
	width: 124px;
	height: 124px;
}

.mother{
	background-position: -372px -372px ;
	width: 124px;
	height: 124px;
}

.peace{
	background-position: -496px -372px ;
	width: 124px;
	height: 124px;
}

.pioneers{
	background-position: -620px -372px ;
	width: 124px;
	height: 124px;
}

.prayer{
	background-position: -744px -372px ;
	width: 124px;
	height: 124px;
}

.president_monson{
	background-position: 0 -496px ;
	width: 124px;
	height: 124px;
}

.priesthood{
	background-position: -124px -496px ;
	width: 124px;
	height: 124px;
}

.prophet{
	background-position: -248px -496px ;
	width: 124px;
	height: 124px;
}

.repentance{
	background-position: -372px -496px ;
	width: 124px;
	height: 124px;
}

.restoration{
	background-position: -496px -496px ;
	width: 124px;
	height: 124px;
}

.sacrament{
	background-position: -620px -496px ;
	width: 124px;
	height: 124px;
}

.sacrifice{
	background-position: -744px -496px ;
	width: 124px;
	height: 124px;
}

.salt_lake_city{
	background-position: 0 -620px ;
	width: 124px;
	height: 124px;
}

.savior{
	background-position: -124px -620px ;
	width: 124px;
	height: 124px;
}

.scriptures{
	background-position: -248px -620px ;
	width: 124px;
	height: 124px;
}

.second_coming{
	background-position: -372px -612px ;
	width: 124px;
	height: 124px;
}

.service{
	background-position: -496px -620px ;
	width: 124px;
	height: 124px;
}

.stake{
	background-position: -620px -620px ;
	width: 124px;
	height: 124px;
}

.tabernacle_choir{
	background-position: -744px -620px ;
	width: 124px;
	height: 124px;
}

.temple{
	background-position: 0 -744px ;
	width: 124px;
	height: 124px;
}

.testimony{
	background-position: -124px -744px ;
	width: 124px;
	height: 124px;
}

.ward{
	background-position: -248px -744px ;
	width: 124px;
	height: 124px;
}

.bishop{
	background-position: -372px -744px ;
	width: 124px;
	height: 124px;
}

.faith{
	background-position: -496px -744px ;
	width: 124px;
	height: 124px;
}

.marriage{
	background-position: -620px -744px ;
	width: 124px;
	height: 124px;
}

.charity{
	background-position: -744px -744px ;
	width: 124px;
	height: 124px;
}